body, head {
  font-size: 20px;
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family-system;
    font-size: $font-size-base;
    line-height: $line-height-base;
    text-align: left;
    background-color: $body-bg;
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 hsla(random() * 360, 100%, 50%,.9);
  }
  text-shadow: $text-shadow;
}

.layout {
    color: transparent;
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: #123;

    &__primary {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 3em;
        height: 3em;
        content: '.';
        mix-blend-mode: screen;
        animation: 44s -27s move infinite ease-in-out alternate; 
    }

    &__secondary {
        display: none;
    }

    &__content {
        max-width: 640px;
        margin: 0 auto;
    }

    @media (min-width: 600px) {
        &__secondary {
            display: flex;
            justify-content: center;
            align-items: center;
            order: -1;
        }
    }

    @media (min-width: 1200px) {
        width: 50%;

        &__primary {
            padding: 2rem;
            border-right: 1px solid $gray-lighter;
        }

        &__secondary {
            position: fixed;
            top: 0;
            left: 50%;
            bottom: 0;
            right: 0;
        }
    }
}

.layout__primary::before, .layout__primary::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
}

.layout__primary::before {
    @include dots(40);
    animation-duration: 44s;
    animation-delay: -27s;
}

.layout__primary::after {
    @include dots(40);
    animation-duration: 43s;
    animation-delay: -32s;
}

.layout__content::before {
    @include dots(40);
    animation-duration: 42s;
    animation-delay: -23s;
}

.layout__content::after {
    @include dots(40);
    animation-duration: 41s;
    animation-delay: -19s;
}


@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}
